.button {
  outline: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  background-color: inherit;
  transition: 0.3s ease;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  opacity: 1;
}

.button:hover {
  opacity: .8;
}

.button_type_entry {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  color: #fff;
  border-radius: 2px;
  /* margin-bottom: 14px; */
  padding: 15px 68px;
  transition: 0.3s ease;
  background-color: #000;
  border-radius: 3px;
}

.button_type_movie {
  width: 100px;
  height: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  /* text-align: center; */
  color: #000;
  padding: 9px 15px;
  box-sizing: border-box;
  align-self: center;
  margin: 0 auto 14px;
  border-radius: 30px;
  background-color: #F9F9F9;
}

.button_type_movie:hover {
  background-color: #ccc;
}

.button_type_movie-save_active {
  background: center no-repeat #FF4062 url('../../images/icon-done.svg');
}

.button_type_movie-delete {
  background: center no-repeat #f3f3f3 url('../../images/icon-delete.svg');
}

.button_type_search {
  /* display: block; */
  width: 34px;
  height: 34px;
  /* margin-right: 20px; */
  /* для позиционирования кнопки в импуте поиска фильмов */
  transform: translate(-60px, -5px);
  background: center/100% no-repeat url('../../images/icon-find.svg');
}

.button_type_more {
  width: 240px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  padding: 10px 20px;
  border: 1px #E8E8E8 solid;
  border-radius: 5px;
  margin: 50px 40px 0;
}

.button_type_more:hover {
  background-color: #ccc;
}

.button_type_profile-save {
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  padding: 14px 67px;
  margin-top: 50px;
}

.button_type_close {
  background: url('../../images/icon-close.svg');
  background-size: cover;
  border: none;
  position: absolute;
  top: -35px;
  right: 0;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 720px) {
  .button_type_close {
    top: -45px;
    right: -45px;
    width: 42px;
    height: 42px;
  }
}

.button_type_reset {
  width: 30px;
  height: 30px;
  transform: translate(-70px, -5px);
  background: url('../../images/icon-close.svg');
  background-size: cover;
}

.button_disabled {
  opacity: .3;
  pointer-events: none;
}
