.footer {
  width: 100%;
  padding: 80px 10px 20px;
  box-sizing: border-box;
  background-color: #fff;
}

/* ПЕРЕПРОВЕРИТЬ */
@media screen and (min-width: 720px) {
  .footer {
    padding-top: 49px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.footer__columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

@media screen and (min-width: 720px) {
  .footer__columns {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .footer__links-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 0 20px;
  }
}

.footer__link {
  color: #000;
  text-decoration: none;
}

.footer__copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #a0a0a0;
  padding: 0;
  margin: 0;
}
