.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 70px 10px 40px;
  text-align: center;
  box-sizing: border-box;
  justify-content: start;
}

.profile__form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0 10px;
}

@media screen and (min-width: 720px) {
  .profile__form {
    max-width: 410px;
  }
}

.profile__container {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(2, 135px);
  grid-column-gap: 10px;
  border: 0;
  padding: 0;
  max-width: 410px;
}

.profile__container:first-of-type {
  border-bottom: #e8e8e8 1px solid;
  margin-bottom: 17px;
}

@media screen and (min-width: 720px) {
  .profile__container {
    grid-column-gap: 140px;
  }
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
}

.profile__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 0 0 80px;
  margin: 0;
}

.profile__input {
  border: 0;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
}

.profile__input:focus {
  outline: 1px solid #000;
}

.profile__input-error {
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ff4062;
  min-height: 28px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

.profile__link-logout {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #ff4062;
  padding-top: 16px;
}

.profile__link-edit {
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.profile__button-box {
  display: flex;
  flex-direction: column;
  padding-top: 110%;
  box-sizing: border-box;
}

@media screen and (min-width: 420px) {
  .profile__button-box {
    padding-top: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .profile__button-box {
    padding-top: 20%;
  }
}
