.about-me_box  {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .about-me_box  {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.about-me__brief {
  max-width: 600px;
}

.about-me__image {
  width: 292px;
  height: 352px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (min-width: 720px) {
  .about-me__image {
    width: 255px;
    height: 307px;
    /* align-self: baseline; */
  }
}

.about-me__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  padding: 40px 0 20px;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .about-me__title {
    font-size: 40px;
    line-height: 40px;
    padding-top: 0px;
    padding-bottom: 16px;
  }
}

.about-me__subtitle {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

.about-me__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  padding: 20px 0 40px;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
    padding-bottom: 87px;
  }
}

.about-me__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #000;
}
