.content {
  display: grid;
  /* row-gap: 70px; */
}

@media screen and (min-width: 720px) {
  .content {
    row-gap: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    row-gap: 100px;
  }
}

.content__inner {
  width: 100%;
  border-bottom: 1px #000 solid;
  margin-bottom: 60px;
}

.content__inner_footer {
  border-bottom: 1px #E8E8E8 solid;
  margin-bottom: 21px;
}

@media screen and (min-width: 720px) {
  .content__inner {
    margin-bottom: 70px;
  }
}

.content__about {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  padding: 0 0 28px;
  margin: 0;
}

.content__about_footer {
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  color: #A0A0A0;
  padding-bottom: 21px;
}

@media screen and (min-width: 720px) {
  .content__about {
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 23px;
  }
}