.content {
  display: grid;
  background-color: #F3C1F8;
  box-sizing: border-box;
}

.content__box-white {
  background-color: #fff;
  padding: 70px 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .content__box-white {
    padding: 90px 50px;
  }
}

@media screen and (min-width: 1024px) {
  .content__box-white {
    padding: 110px 70px;
  }
}

.content__inner {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px #000 solid;
  margin-bottom: 60px;
}
@media screen and (min-width: 720px) {
  .content__inner {
    margin-bottom: 70px;
  }
}

.content__inner_footer {
  border-bottom: 1px #E8E8E8 solid;
  padding-bottom: 21px;
  margin-bottom: 30px;
}

@media screen and (min-width: 720px) {
  .content__inner_footer {
    margin-bottom: 20px;
  }
}

.content__about {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  padding: 0 0 28px;
  margin: 0;
}

.content__about_footer {
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  color: #A0A0A0;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .content__about {
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 23px;
  }
}
