.promo {
  width: 100%;
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 30px;
}

@media screen and (min-width: 720px) {
  .promo {
    padding: 140px 0 76px;
  }
}

@media screen and (min-width: 1024px) {
  .promo {
    padding: 75px 0 75px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.promo__context {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .promo__context {
    align-items: flex-start;
  }
}


.promo__title {
  max-width: 300px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  /* or 127% */
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0;
  padding-top: 44px;
}

@media screen and (min-width: 720px) {
  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .promo__title {
    max-width: 640px;
    padding-top: 0;
    /* padding-top: 75px; */
    font-size: 50px;
    line-height: 58px;
    text-align: left;
  }
}

.promo__subtitle {
  max-width: 260px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0;
  padding: 24px 0 80px;
}

@media screen and (min-width: 720px) {
  .promo__subtitle {
    padding: 22px 0 92px;
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .promo__subtitle {
    padding: 36px 0 146px;
    text-align: left;
  }
}

.promo__illustration {
  width: 210px;
  height: 206px;
}

@media screen and (min-width: 720px) {
  .promo__illustration {
    width: 310px;
    height: 304px;
  }
}

@media screen and (min-width: 1024px) {
  .promo__illustration {
    align-self: baseline;
  }
}

.promo__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  color: #000;
  padding: 10px 20px;
}