.entry-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 56px 0 30px;
}

@media screen and (min-width: 720px) {
  .entry-form {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (min-width: 720px) {
  .entry-form {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

/* дочерний элемент компонента EntryForm, включает в себя все импуты форм */
.entry-form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin: 0;
}

.entry-form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 50px 0 80px;
  margin: 0;
  /* color: #fff; */
  color: #000;
}

@media screen and (min-width: 720px) {
  .entry-form__title {
    text-align: start;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

/* контейнер с элементами формы, включая кнопку сабмит  */
.entry-form__container {
  width: 100%;
  max-width: 260px;
  /* padding: 50px 30px 30px; */
  box-sizing: border-box;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .entry-form__container {
    max-width: 400px;
  }
}

.entry-form__auth-link {
  display: block;
  /* text-align: center; */
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #A0A0A0;
  text-decoration: none;
  padding-top: 15px;
}