.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 14px;
  box-sizing: border-box;
  background-color: #F3C1F8;
}
@media screen and (min-width: 720px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.header__nav-box {
  display: flex;
  gap: 0 14px;
  max-height: 30px;
}

@media screen and (min-width: 720px) {
  .header__nav-box {
    gap: 0 30px;
  }
}

.logo {
  height: 38px;
  width: 38px;
  background-repeat: no-repeat;
}
