/* .movies {
  width: calc(100% - 20px);
  padding: 40px 10px 30px;
} */

/* @media screen and (min-width: 720px) {
  .movies {
    width: calc(100% - 60px);
    padding: 70px 30px 30px;
  }
} */
/* 
@media screen and (min-width: 1024px) {
  .movies {
    width: calc(100% - 140px);
    padding: 70px 70px 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
  }
} */
