/* дочерний элемент компонентра EntryForm, включает в себя все импуты форм */
.form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.form__input {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: #000;
  font-family: inherit;
  padding-bottom: 13px;
}

.form__input-error {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  min-height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: start;
}

.form__input-error_active {
  border-bottom: 1px #ff0000 solid;
}

.form__input_login {
  /* background-color: black; */
  /* color: white; */
  color: #000;
  border-bottom: 2px solid #ccc;
  font-weight: 500;
}

.form__inner {
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form__inner_login {
  padding: 0 0 282px;
}
