.about-progect {
  width: 100%;
  background-color: #fff;
}

.about-project__list {
  display: flex;
  flex-direction: column;
  gap: 56px 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 720px) {
  .about-project__list {
    flex-direction: row;
    gap: 0 30px;
  }
}



.about-project__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  padding: 0 0 16px;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .about-project__title {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 22px;
  }
}

.about-project__description {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .about-project__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .about-project__description {
    font-size: 14px;
    line-height: 20px;
  }
}

.about_project__result {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 35px 13px;
  row-gap: 10px;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  padding: 60px 0 93px;
}

@media screen and (min-width: 720px) {
  .about_project__result {
    font-size: 14px;
    line-height: 17px;
    grid-template-columns: 140px 1fr;
    row-gap: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .about_project__result {
    grid-template-columns: 200px 1fr;
  }
}

.about-project__week {
  background-color: #F2F2F2;
  color: #000;
  padding: 0;
  margin: 0;
  padding: 10px 0;
}

.about-project__week_black {
  background-color: #000;
  color: #fff;
}

.about-project__web {
  color: #A0A0A0;
  padding: 0;
  margin: 0;
}
